[submodule ".vim"]
	path = .vim
	url = https://www.github.com/Puntsiluntsi/vimfiles
	branch = master
[submodule ".doom.d"]
	path = .doom.d
	url = https://www.github.com/Puntsiluntsi/doom-emacs-config
	branch = master
[submodule "dwm"]
	path = dwm
	url = https://github.com/Puntsiluntsi/dwm.git
